<%- include("partials/header.ejs") %>

    <body>
        <div class="container-fluid centering">
            <div>
                <h class="text-primary">Your Posts</h>
                <% if (datastore.length> 0) { %>
                    <div class="card-container">
                        <% datastore.forEach((item, index)=> { %>
                            <div class="card my-4 p-3 shadow-sm post-card">
                                <div class="d-flex justify-content-between">
                                    <div class="post-content">
                                        <% if (item.image !=='' ) { %>
                                            <img src="<%= item.image %>" alt="Image for <%= item.title %>"
                                                class="rounded post-image mb-2" height="300" width="300">
                                            <% } %>
                                                <h5 class="mb-0"><strong>
                                                        <%= item.title %>
                                                    </strong></h5>
                                                <p class="text-muted">
                                                    <%= item.message %>
                                                </p>
                                    </div>
                                </div>
                                <div class="call_to_action">
                                    <!-- Update Form -->
                                    <form action="/add" method="get">
                                        <input type="hidden" name="index" value="<%= index %>">
                                        <input type="submit" value="Update" id="update" class="btn btn-primary">
                                    </form>
                                    <!-- Delete Form -->
                                    <form action="/delete" method="POST">
                                        <input type="hidden" name="index" value="<%= index %>">
                                        <input type="submit" value="Delete" id="delete" class="btn btn-danger">
                                    </form>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <% } else { %>
                        <h1 class="indexIntro">
                            <a href="/add">Create a new post...</a>
                        </h1>
                        <% } %>
            </div>
        </div>
    </body>

    </html>
    <%- include("partials/footer.ejs") %>